body {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    background-color: #edecec !important;
}

md-content.main {
    background-color: #edecec !important;
}

.w-100 {
    width: 100%;
}

footer {
    margin-top: 10px
}

.pad-bot-0 {
    padding-bottom: 0 !important;
}

.item-btns {
    opacity: 0;
    -webkit-transition: all cubic-bezier(.55, 0, .1, 1) 0.2s;
    transition: all cubic-bezier(.55, 0, .1, 1) 0.2s;
}

md-item:not(.editing) md-item-content:hover .item-btns {
    opacity: 1;
}

.list-bottom {
    font-size: 13px;
    height: 50px;
}

.list-bottom a.selected {
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

md-item.completed .title {
    text-decoration: line-through;
    opacity: 0.6;
}

md-item form, md-item.editing .view {
    display: none;
    /*display: block;*/
}

md-item.editing form, md-item .view {
    display: block;
    /*display: none;*/
}

md-item.editing form md-input-container {
    margin: 11px;
}